
<div>
    
    <div class="row justify-content-center">
        <div class="col-8">
            <h5>Staff Management </h5>
            <button class="btn btn-primary btn-block m-2" routerLink="/profiles/edit" >Manage staff</button>
            <button class="btn btn-primary btn-block m-2" routerLink="/admin/register" >Add new staff member</button>
        </div>
    </div>
    <hr>
    <div class="row justify-content-center">
        <div class="col-8">
            <h5>Patient Management </h5>
            <button class="btn btn-primary btn-block m-2" routerLink="/admin/patientEdit">Edit / View existing patients </button>
            <button class="btn btn-primary btn-block m-2" routerLink="/admin/patientRegister">Add patient </button>
        </div>
    </div>
    <hr>
</div>

