<div class="row">
    <div class="col-10" style="float:none;margin:auto;">
        <div class="card">
            <h5 class="pt-4 pl-3">Patient Profile<div *ngIf="complete" style="color: rgb(0, 155, 0); display: inline;"> - Complete <i class="fa fa-check mr-2"></i></div></h5>
            <!--<img src='assets/user.jpg' alt="{{patient.fullname}}"
             class="card-img-top img-thumbnail">-->

            <div class="card-body">
                
                <div>
                    <strong class="font-weight-bold">Name:</strong>
                    <p>{{patient?.name}}</p>
                </div>
                <div>
                    <strong class="font-weight-bold">Address:</strong>
                    <p class="font-weight-light">{{patient?.address}}</p>
                </div>
                <div>
                    <strong class="font-weight-bold">Date of Birth:</strong>
                    <p class="font-weight-light">{{patient?.dateOfBirth}}</p>
                </div>
                <div>
                    <strong class="font-weight-bold">
                        Gender:</strong>
                    <p class="font-weight-light">{{patient?.gender}}</p>
                </div>
                <div>
                    <ngb-accordion #acc="ngbAccordion" [closeOthers]="true">
                        <ngb-panel id="static-1" title="Care Plan" class="text">
                          <ng-template ngbPanelContent>
                            <strong class="font-weight-bold">
                                Level Of Understanding:</strong>
                            <p>{{plan.levelOfUnderstanding}}</p>
                            <strong class="font-weight-bold">
                                Communication:</strong>
                            <p>{{plan.communication}}</p>
                            <strong class="font-weight-bold">
                                Mobility:</strong>
                            <p>{{plan.mobility}}</p>
                            <strong class="font-weight-bold">
                                Personal Care:</strong>
                            <p >{{plan.personalCare}}</p>
                            <strong class="font-weight-bold">
                                Continence Care:</strong>
                            <p >{{plan.continenceCare}}</p>
                            <strong class="font-weight-bold">
                                Oral Care:</strong>
                            <p >{{plan.oralCare}}</p>
                            <strong class="font-weight-bold">
                                Nutrician and Dehydration:</strong>
                            <p >{{plan.nutritionAndHydration}}</p>
                            <strong class="font-weight-bold">
                                Skin Care:</strong>
                            <p >{{plan.skinCare}}</p>
                            <strong class="font-weight-bold">
                                Interests and Hobbies:</strong>
                            <p >{{plan.interestsAndHobbies}}</p>
                            <strong class="font-weight-bold">
                                Mental health:</strong>
                            <p >{{plan.mentalHealth}}</p>
                            <strong class="font-weight-bold">
                                End Of Life preference:</strong>
                            <p >{{plan.eolPref}}</p>
                            <strong class="font-weight-bold">
                                Religious and Cultural Considerations:</strong>
                            <p>{{plan.religiousAndCulturalBeliefs}}</p>
                          </ng-template>
                        </ngb-panel>
                        <ngb-panel id="static-2" title="Medication">
                            <ng-template ngbPanelContent>
                              {{plan.medication}}
                            </ng-template>
                          </ngb-panel>
                    </ngb-accordion>
                    <div  *ngIf="complete"style="margin-top: 1%;">
                        <strong class="font-weight-bold">Appointment Details</strong>
                        <hr>
                        <p>Date :{{ app.date }}</p>
                        <p>{{ app.details }}</p>
                    </div>
                    
                    <input class="form-control form-control-lg mt-1" id="details" type="text" placeholder="Appointment details, how did it go?"[(ngModel)]="appDetails" *ngIf="!complete">    
                </div>

            </div>
            <div class="card-footer">
                <div class="btn-group d-flex">
                    <button class="btn btn-primary" (click)="markAsCompleted()" *ngIf="!complete">Mark as completed</button>
                    <button class="btn btn-secondary" routerLink="/">Back</button>
                </div>
            </div>
        </div>
    </div>
</div>