<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/"><i class="fa fa-plus" aria-hidden="true" style="color: #28b62c;"></i> CAREdox</a>
      <button
        class="navbar-toggler"
        type="button"
        (click)="isCollapsed = !isCollapsed"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="collapse navbar-collapse"
        id="navbarNav"
        [ngbCollapse]="isCollapsed"
      >
        <ul class="navbar-nav" *ngIf="accountService.currentUser$ | async as user">
          <li class="nav-item">
            <a class="nav-link" routerLink="/" routerLinkActive="active">Clients</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" *ngIf="adminMode" routerLink="/admin" routerLinkActive="active">Admin</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="messages" routerLinkActive="active">Messages</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="/" style="color: rgb(0, 173, 0);">{{model.username}}</a>
          </li> 
          <li class="nav-item">
            <a class="nav-link" href="#"(click)="logout()">Logout</a>
          </li>
          <!--<li class="nav-item">
            <a class="nav-link" routerLink='/errors' routerLinkActive="active">Errors</a>
          </li>-->
        </ul>
        <form #loginForm="ngForm" *ngIf="(accountService.currentUser$ | async) === null" class="form-inline mt-2 mt-md-0"  (ngSubmit)="login()" autocomplete="off">
          <input 
            name="username"
            [(ngModel)]="model.username"
            class="form-control mr-sm-2"  
            type="text" 
            placeholder="Username">
          <input 
            name="password"
            [(ngModel)]="model.password"
            class="form-control mr-sm-2" 
            type="password" 
            placeholder="Password">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Login</button>
        </form>
  
      </div>
    </div>
  </nav>
</div>
<div *ngIf="(accountService.currentUser$ | async) === null" style="text-align: center; padding-top: 2%;">
  <h1>Welcome to CAREdox</h1>
  <p class="lead">Login to view your schedule</p>
  <i class="aside">Caredox is an open source solution to patient and careplan management. For more info email caredox.contact@gmail.com</i>
</div >
