<div class="card m-4">
    <div class="card-body m-2">
        <form #registerPatientForm = "ngForm" (ngSubmit) = "registerPatient()" autocomplete="off">
            <div class="text-center text-primary">Add a new patient</div>
            <hr>
            <div class="form-group">
                <input  type="text" class="form-control" name= "name" [(ngModel)]="model.name" placeholder="Name">
            </div>
            <div class="form-group">
                <input  type="text" class="form-control" name= "address" [(ngModel)]="model.address" placeholder="Address">
            </div>
            <div class="form-group">
                <input  type="text" class="form-control" name= "knownAs" [(ngModel)]="model.knownAs" placeholder="Known As">
            </div>
            <div class="form-group">
                <input  type="text" class="form-control" name= "gender" [(ngModel)]="model.gender" placeholder="Gender">
            </div>
            <div class="form-group">
                <input  type="text" class="form-control" name= "fullName" [(ngModel)]="model.fullName" placeholder="Full name">
            </div>
            <div class="form-group">
                <input  type="text" class="form-control" name= "dateOfBirth" [(ngModel)]="model.dateOfBirth" placeholder="Date of Birth YYYY-MM-DD">
            </div>
            <div class="form-group text-center">
                <button class="btn btn-success mr-2" type="submit">Register</button>
                <button class="btn btn-default mr-2 " routerLink="/admin" style="background-color: rgb(230, 230, 230);"type="button">Cancel</button>
            </div> 
        
        </form>
    </div>
</div>

